data/*.blend filter=lfs diff=lfs merge=lfs -text
data/CubeFace.blend filter=lfs diff=lfs merge=lfs -text
data/framework.jpg filter=lfs diff=lfs merge=lfs -text
data/fexmm_license_agreement.pdf filter=lfs diff=lfs merge=lfs -text
data/avatars.jpg filter=lfs diff=lfs merge=lfs -text
data/CubeFace.jpg filter=lfs diff=lfs merge=lfs -text
data/demo_tracking.gif filter=lfs diff=lfs merge=lfs -text
data/spp_active_self_logo.jpg filter=lfs diff=lfs merge=lfs -text
